<?xml version="1.0"?>
<phpunit
		bootstrap="vendor/autoload.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="composer-scripts Test Suite">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-clover" target="clover.xml"/>
	</logging>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>
